aiomysql==0.0.21
alembic==1.8.1
asyncmy==0.2.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==7.1.2
configparser==5.2.0
cryptography==3.4.7
databases==0.5.5
fastapi==0.63.0
greenlet==1.1.1
h11==0.12.0
idna==3.2
importlib-metadata==4.6.3
Mako==1.2.3
MarkupSafe==2.1.1
mysql==0.0.3
mysqlclient==2.0.3
pycparser==2.20
pydantic==1.8.1
PyMySQL==0.9.3
python-dotenv==0.17.0
requests==2.26.0
SQLAlchemy==1.4.7
starlette==0.13.6
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.13.4
zipp==3.5.0
